@model Cinema

@{
    ViewData["Title"] = "Details for Deleting an Cinema";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>
                The Details of The Cinema
            </h1>
        </p>
        <div>



            <div class="form-group text-center">

                <img id="ProfilePic" class="border-info rounded-circle" />
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <img src="~/img/@Model.Logo" class="img-thumbnail rounded" style="width:100px; height:100px" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" readonly />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <form asp-action="Deleted">
                    <input type="hidden" asp-for="ID" />
                    <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                </form>
                <a asp-action="Index" class="btn btn-outline-primary">Show All</a>
            </div>
        </div>
    </div>

</div>

